.news{
    padding: 25px 25px;
    margin: 50px 0;
    background-color: var(--cor-dark-blue);
}

.new-title{
    color: var(--cor-soft-orange);
    font-size: 1.75rem;
    font-weight: 800;
}


.news-title{
    color: var(--cor-white);
    font-size: 1.1rem;
    font-weight: 800;
}

.news-text{
    font-size: .8rem;
    font-weight: 500;
    color: var(--cor-light-gray);
    line-height: 25px;
    letter-spacing: .5px;

}

.new:not(:last-child){
    margin: 30px 0;
    border-bottom:1px solid #ffffff5d;
    padding-bottom: 30px;
}

